.similar-list {
    margin: 0 0 80px;
}
.hidden-element {
    display: none;
}
.error-note{
    color: red;
    text-align: justify;
    margin-bottom: 30px;
}
.img-author-article {
	padding-right: 20px;
	padding-bottom: 20px;
}
.clear-both {
	clear:both;
}